<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new user registration</title>
</head>
<body>
<div>
    <br><br><br><br><br>
    <form th:method="POST" th:action="@{/admin/users}" th:object="${addUser}">

        <fieldset>
            <legend>enter new user</legend>
            <label for="name">Enter name: </label>
            <input type="text" th:field="*{firstName}" id="name"/>
            <br>
            <label for="lastname">Enter Last name: </label>
            <input type="text" th:field="*{lastName}" id="lastname"/>
            <br>
            <label for="email">Enter Email: </label>
            <input type="text" th:field="*{email}" id="email"/>
            <br>
            <label for="password">Enter Password: </label>
            <input type="text" th:field="*{password}" id="password"/>

            <label>Role:
                <select size="2" multiple name="role" >
                    <option value="ROLE_USER">USER</option>
                    <option selected="selected" value="ROLE_ADMIN">ADMIN</option>
                </select>
            </label>
        </fieldset>
        <p><input type="submit" value="submit"></p>
    </form>
</div>
</body>
</html>

